/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit;}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Custom styles below */

/* Using an Augmented Fourth modular scale:
* https://www.modularscale.com/?1.2&em&1.414
*/
/*
/* Base Styles */

/* Screen Size = 320px, No Layout */

html {
  color: #0f0f0f; /* Near black */
  font-family: "Roboto", "Comic Sans MS", cursive, sans-serif;
  font-size: 1em;
  line-height: 1.2em;
}

body {
  background-color: #ffe0b3;
}

#logo-ace,
#logo-emmanuel {
  max-width: 3.998em;
  max-width: calc(1.999em + (10 - 1.999) *(100vw - 18.75em)/81.25);
  padding: 0.5em;
}

h1,
h2 {
  font-size: 2.399em;
  line-height: 1em;
  margin-bottom: 0.25em;
  text-align: center;
}

h2 {
  font-size: 1.697em;
  margin-bottom: 0.5em;
}

.header-photo {
  border-top: 0.707em double #0f0f0f; /* Near black */
  margin-bottom: 0.5em;
}

#power-pic {
  width: 100%;
}

.header-photo figcaption {
  /* Use to visually conceal the caption*/
  position: absolute;
  left: -10000px;
}

nav {
  border-bottom: 0.25em dashed #0f0f0f; /* Near black */
  border-top: 0.25em dashed #0f0f0f; /* Near black */
  margin-bottom: 0.5em;
  padding-bottom: 0.707em;
  padding-left: 0.5em;
  padding-top: 0.5em;
}

h3 {
  font-size: 1.2em;
  font-style: italic;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

p {
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

section p:last-of-type {
  border-bottom: 0.177em solid #0f0f0f; /* Near black */
  margin-bottom: 0.5em;
}

h4 {
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

.prod-img {
  width: 40%;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

ol {
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

ol li{
  background: url('../media/img/loc-icon.png') no-repeat top left;
  list-style: none;
  padding-bottom: 0.5em;
  /* Padding for icon image */
  padding-left: 35px;
  padding-top: 4px;
}

iframe {
  height: 200px;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  width: 300px;
}
