/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit;}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Custom styles below */

/* Using an Augmented Fourth modular scale:
* https://www.modularscale.com/?1.2&em&1.414
*/
/*
/* Base Styles */

/* Screen Size = 320px, Universal */

html {
  color: #0f0f0f; /* Near black */
  font-family: "Roboto", "Comic Sans MS", cursive, sans-serif;
  font-size: 0.9em;
  line-height: 1.2em;
}

body {
  background-color: #ffe0b3;
}

#logo-ace,
#logo-emmanuel {
  float: left;
  width: 4em;
  padding: 0.5em;
}

#logo-emmanuel {
  float: right;
}

h1,
h2 {
  font-size: 1.999em;
  line-height: 1em;
  margin-bottom: 0.354em;
  margin-top: 0.354em;
  text-align: center;
}

h2 {
  font-size: 1.414em;
  margin-bottom: 0.5em;
}

.header-photo {
  border-top: 0.707em double #0f0f0f; /* Near black */
  margin-bottom: 0.5em;
}

#power-pic {
  width: 100%;
}

.header-photo figcaption {
  /* Use to visually conceal the caption*/
  position: absolute;
  left: -10000px;
}

nav {
  border-bottom: 0.25em dashed #0f0f0f; /* Near black */
  border-top: 0.25em dashed #0f0f0f; /* Near black */
  margin-bottom: 0.5em;
  padding-bottom: 0.707em;
  padding-left: 0.5em;
  padding-top: 0.5em;
}

h3 {
  font-size: 1.2em;
  font-style: italic;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

p {
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

section h3 {
  padding-top: 0.25em;
}

section p:last-of-type,
enquiry {
  border-bottom: 0.177em solid #0f0f0f; /* Near black */
  margin-bottom: 0.5em;
}

h4 {
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

.prod-img {
  width: 40%;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

ol,
ul {
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

ol li,
#phone,
#email {
  background: url('../media/img/loc-icon.png') no-repeat top left;
  list-style: none;
  padding-bottom: 0.5em;
  /* Padding for icon image */
  padding-left: 35px;
  padding-top: 4px;
}

iframe {
  height: 200px;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  width: 300px;
}

#phone {
  background: url('../media/img/phone-icon.png') no-repeat top left;
}

#email {
  background: url('../media/img/email-icon.png') no-repeat top left;
  border-bottom: 0.177em solid #0f0f0f; /* Near black */
}

form {
  border: 0.177em solid #0f0f0f; /* Near black */
  height: 310px;
  margin: 8px;
  margin-top: 12px;
  padding: 8px;
  width: 255px;
}

label {
  clear: left;
  display: inline-block;
  margin-bottom: 8px;
  text-align: left;
  width: 250px;
}

input {
  display: inline-block;
  float: left;
  margin-bottom: 8px;
  width: 250px;
}

textarea {
  display: inline-block;
  float: left;
  margin-bottom: 8px;
}

footer {
  border-top: 0.177em solid #0f0f0f; /* Near black */
  font-size: 0.75em;
  padding-top: 0.5em;
}


/* Layout Styles */

/* Screen Size = 320px */

@supports (display: grid) {

  header {
    background-image: url("../media/img/power.jpg");
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr repeat(5,2fr) 1fr;
    grid-template-rows: 6fr repeat(5,1fr) 0.5fr;
    height: 100vh;
    mix-blend-mode:multiply;
  }

  .header-photo {
    display: none;
  }

  .header-bar {
    display: contents;
  }

  #logo-ace,
  #logo-emmanuel {
    width: 4em;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  }

  #logo-emmanuel {
    grid-row: 5 / 6;
  }

  h1,
  h2 {
    color: #ffffff;
    font-size: 2.399em;
    grid-column: 2 / 7;
    grid-row: 3 / 4;
  }

  h2 {
    font-size: 1.414em;
    grid-row: 4 / 5;
  }

  main {
    display: grid;
    grid-auto-flow: dense;
  }

  #products {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/* Module Styles */

nav {
  background-color: #555;
  margin-bottom: 0;
  overflow: auto;
  padding-bottom: 0.707em;
  padding-left: 0.5em;
  padding-top: 0.5em;
  width: 100%;
}

nav a {
  display: flex;
  padding: 0.5em;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.navbar a:hover {
  background-color: #000;
}

.active {
 background-color: #4CAF50;
}

section {
  border: 0.25em solid #0f0f0f; /* Near black */
  margin: 0.5em;
}

#about {
  background-color: #bc5090;
}

#about h3 {
  color: #f0f0f0;
}

#about p {
  color: #ffa600;
}

section p:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}
